.footer-style {
    padding-top: 20px;
    background-color: rgba(29,22,30,0.8);
}
footer {
  color: white;
}
footer h3 {
  margin-bottom: 30px;
    font-weight: 800;
}
footer .footer-above {
  padding-top: 25px;
  background-color: #2C3E50;
}

footer .footer-below {
  padding: 25px 0;
  background-color: #233140;
}
.imgfoo{
    width: 25px;
    height: 25px;
    margin:5px;
    color:white;
}
.columna{
    background-color: black;
}
.center {
  text-align: center;
}
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: rgba(185, 35, 245);
  color:white;
  border: 1px solid rgba(185, 35, 245);
}

.pagination a:hover:not(.active) {background-color: rgba(243, 217, 246);}

.pagination a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

