
.row{}
.card{
    margin: 10px;
    width: 97%;
    padding: 15px;
    background-color: rgba(243, 217, 246);
    border-radius: 20px;
    height:600px;
}

.card-img {
    border-radius: 15px;
}

.link-card {
    position: relative;
    left: 250px;

}


.search-sec{
    background-color: brown ;
    padding: 2rem;
    margin: 15px;
}
.search-slt{
    display: block;
    width: 95%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius:0;
    margin:15px;
}
.wrn-btn{
    background-color: rgba(185, 35, 245);
    color:rgba(255,255,255);
    width: 95%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    height: calc(3rem + 2px) !important;
    border-radius:0;
    margin: 15px;
}
.link-card{
    position: relative;
    left:15px;
}
.null{
    margin-top:40%;
 }

