
/*--------------------------------RESPONSIVE---------------------------*/
/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
.navbar-light {
    background-color: rgba(185, 35, 245);
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(255,255,255);
}
.nav-link{
    color: rgba(255,255,255)
}
.logo {
    width: 50px;
    height: 50px;
}

.barramenu {
    width: 30px;
    height: 30px;
}
.img-user{
    width: 50px;
    position: relative;
    top:10px;
    border-radius: 100px;
}
.nomb-user{
    color:rgba(255,255,255);
    position:relative;
    top:-25px;
    left:55px;
}

a:hover {
    color: rgba(255, 255, 255);
}

.boton-regis {
    background-color: rgba(185, 35, 245);
    color: azure;
    border-radius: 50px;

}

#btn-sesion {
    border-radius: 50px;
    width: 125px;
    color:white;

}
.navbar .navbar-brand {
    color: rgba(255, 255, 255);
}

.dropdown-toggle::after {
    display: none;
}

.desplegable-menu {
    
    border-radius: 30px;
    width: 400px;
    right: 25px;
}

.at {
    width: 30px;
    height: 30px;
    position: relative;
    top: 38px;
    right: 120px;
}

.candado {
    width: 30px;
    height: 30px;
    position: relative;
    top: 38px;
    right: 90px;
}


li {
    list-style: none;
}

li {
    list-style: none;
}

.btn-corr {
    width: 250px;
    position: relative;
    left: 56px;
}

.text-direcc {
    font-size: 20px;
}

.text-contra {
    font-size: 20px;
}

.contra {
    width: 250px;
    position: relative;
    left: 56px;
}

.btn-iniciar {
    width: 200px;
    position: relative;
    left: 80px;
    background-color: rgba(185, 34, 230);
    color: rgba(255, 255, 255);
}



}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
.navbar-light {
    background-color: rgba(185, 35, 245);
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(255,255,255);
}
.nav-link{
    color: rgba(255,255,255)
}
.logo {
    width: 50px;
    height: 50px;
}

.barramenu {
    width: 30px;
    height: 30px;
}
.img-user{
    width: 50px;
    position: relative;
    top:10px;
    border-radius: 100px;
}
.nomb-user{
    color:rgba(255,255,255);
    position:relative;
    top:-25px;
    left:55px;
}

a:hover {
    color: rgba(255, 255, 255);
}

.boton-regis {
    background-color: rgba(185, 35, 245);
    color: azure;
    border-radius: 50px;

}

#btn-sesion {
    border-radius: 50px;
    width: 125px;
    color:white;

}
.navbar .navbar-brand {
    color: rgba(255, 255, 255);
}

.dropdown-toggle::after {
    display: none;
}

.desplegable-menu {
    
    border-radius: 30px;
    width: 400px;
    right: 25px;
}

.at {
    width: 30px;
    height: 30px;
    position: relative;
    top: 38px;
    right: 120px;
}

.candado {
    width: 30px;
    height: 30px;
    position: relative;
    top: 38px;
    right: 90px;
}


li {
    list-style: none;
}

li {
    list-style: none;
}

.btn-corr {
    width: 250px;
    position: relative;
    left: 56px;
}

.text-direcc {
    font-size: 20px;
}

.text-contra {
    font-size: 20px;
}

.contra {
    width: 250px;
    position: relative;
    left: 56px;
}

.btn-iniciar {
    width: 200px;
    position: relative;
    left: 80px;
    background-color: rgba(185, 34, 230);
    color: rgba(255, 255, 255);
}


}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
.navbar-light {
    background-color: rgba(185, 35, 245);
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(255,255,255);
}
.nav-link{
    color: rgba(255,255,255)
}
.logo {
    width: 50px;
    height: 50px;
}

.barramenu {
    width: 30px;
    height: 30px;
}
.img-user{
    width: 50px;
    position: relative;
    top:10px;
    border-radius: 100px;
}
.nomb-user{
    color:rgba(255,255,255);
    position:relative;
    top:-25px;
    left:55px;
}

a:hover {
    color: rgba(255, 255, 255);
}

.boton-regis {
    background-color: rgba(185, 35, 245);
    color: azure;
    border-radius: 50px;

}

#btn-sesion {
    border-radius: 50px;
    width: 125px;
    color:white;

}
.navbar .navbar-brand {
    color: rgba(255, 255, 255);
}

.dropdown-toggle::after {
    display: none;
}

.desplegable-menu {
    
    border-radius: 30px;
    width: 400px;
    right: 25px;
}

.at {
    width: 30px;
    height: 30px;
    position: relative;
    top: 38px;
    right: 120px;
}

.candado {
    width: 30px;
    height: 30px;
    position: relative;
    top: 38px;
    right: 90px;
}


li {
    list-style: none;
}

li {
    list-style: none;
}

.btn-corr {
    width: 250px;
    position: relative;
    left: 56px;
}

.text-direcc {
    font-size: 20px;
}

.text-contra {
    font-size: 20px;
}

.contra {
    width: 250px;
    position: relative;
    left: 56px;
}

.btn-iniciar {
    width: 200px;
    position: relative;
    left: 80px;
    background-color: rgba(185, 34, 230);
    color: rgba(255, 255, 255);
}

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
.navbar-light {
    background-color: rgba(185, 35, 245);
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(255,255,255);
}
.nav-link{
    color: rgba(255,255,255)
}
.logo {
    width: 50px;
    height: 50px;
}

.barramenu {
    width: 30px;
    height: 30px;
}
.img-user{
        width: 50px;
    height: 50px;
    border-radius: 100px;
}
.nomb-user{
    color:rgba(255,255,255);
    position:relative;
    top:5px;
}

a:hover {
    color: rgba(255, 255, 255);
}

.boton-regis {
    background-color: rgba(185, 35, 245);
    color: azure;
    border-radius: 50px;

}

#btn-sesion {
    border-radius: 50px;
    width: 125px;
    color:white;

}
.navbar .navbar-brand {
    color: rgba(255, 255, 255);
}

.dropdown-toggle::after {
    display: none;
}

.desplegable-menu {
    
    border-radius: 30px;
    width: 400px;
    right: 25px;
}

.at {
    width: 30px;
    height: 30px;
    position: relative;
    top: 38px;
    right: 120px;
}

.candado {
    width: 30px;
    height: 30px;
    position: relative;
    top: 38px;
    right: 90px;
}


li {
    list-style: none;
}

li {
    list-style: none;
}

.btn-corr {
    width: 250px;
    position: relative;
    left: 56px;
}

.text-direcc {
    font-size: 20px;
}

.text-contra {
    font-size: 20px;
}

.contra {
    width: 250px;
    position: relative;
    left: 56px;
}

.btn-iniciar {
    width: 200px;
    position: relative;
    left: 80px;
    background-color: rgba(185, 34, 230);
    color: rgba(255, 255, 255);
}


}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
.navbar-light {
    background-color: rgba(185, 35, 245);
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(255,255,255);
}
.nav-link{
    color: rgba(255,255,255)
}
.logo {
    width: 50px;
    height: 50px;
}

.barramenu {
    width: 30px;
    height: 30px;
}
.img-user{
    width: 50px;
    height: 50px;
    border-radius: 100px;

}
.nomb-user{
    position:relative;
    top:5px;
    margin-right:20px;
    color: white;

}

a:hover {
    color: rgba(255, 255, 255);
}

.boton-regis {
    background-color: rgba(185, 35, 245);
    color: azure;
    border-radius: 50px;

}

#btn-sesion {
    border-radius: 50px;
    width: 125px;
    color:white;

}
.navbar .navbar-brand {
    color: rgba(255, 255, 255);
}

.dropdown-toggle::after {
    display: none;
}

.desplegable-menu {
    
    border-radius: 30px;
    width: 400px;
    right: 25px;
}

.at {
    width: 30px;
    height: 30px;
    position: relative;
    top: 38px;
    right: 120px;
}

.candado {
    width: 30px;
    height: 30px;
    position: relative;
    top: 38px;
    right: 90px;
}


li {
    list-style: none;
}

li {
    list-style: none;
}

.btn-corr {
    width: 250px;
    position: relative;
    left: 56px;
}

.text-direcc {
    font-size: 20px;
}

.text-contra {
    font-size: 20px;
}

.contra {
    width: 250px;
    position: relative;
    left: 56px;
}

.btn-iniciar {
    width: 200px;
    position: relative;
    left: 80px;
    background-color: rgba(185, 34, 230);
    color: rgba(255, 255, 255);
}

}