.jumbotron {
    margin-top: 25px;
    border-radius: 25px;
    background-color: rgba(243, 217, 246);
    margin-top: 50px;
    margin-bottom: 121px;
}

.edit {
    width: 30px;
}

.edit1 {
    width: 40px;
    position: relative;
    top: -56px;
    left: 600px;

}

.img-event {
    width: 100%;
    border-radius: 30px;
}

.jumbotron #segundo {
    border-radius: 30px;
    background-color: rgba(255, 255, 255);
    width: 95%;
}

.imgcalen {
    width: 45px;
    margin: 10px;
}

.fecha {
    font-size: 30px;
}

.imgcomen {
    width: 70px;
    margin: 10px;
    position: relative;
    bottom: 15px;
}

.inputcomen {
    width: 500px;
    height: 50px;
}

.btn-comen {
    background-color: rgba(185, 35, 245);
    color: rgba(255, 255, 255);
    font-size: 15px;
    position: relative;
    left: 400px;
    border-radius: 50px;
    margin: 5px;
}


