{% from "macro.html" import show_event %}
{% from "form_macros.html" import show_field ,show_radio_field, show_submit_field %}
{% extends "index.html" %}
{% block contenido %}
<!-------------------------------------------------------CONTENIDO---------------------------------------->
    <div class="container">
        <form method="POST" action="{{ url_for('index') }}" enctype="multipart/form-data">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-2  col-md-3 col-sm-12 p-0">
                            {{ show_field(formFilter.nameEvent, class='form-control search-slt',placeholder=" Nombre de evento" ) }}
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-12 p-0">
                            {{ show_field(formFilter.place, class='form-control search-slt',placeholder=" Ubicacion"  ) }}
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-12 p-0">
                            <div class="form-group">
                                {{ show_field(formFilter.dateEventSince, class='form-control search-slt' ,placeholder=" Desde" ) }}
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-12 p-0">
                            <div class="form-group">
                                {{ show_field(formFilter.dateEventUntil, class='form-control search-slt',placeholder=" Hasta"  ) }}
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-12 p-0">
                            <div class="form-group">
                                {{ show_field(formFilter.dateEventUntil, class='form-control search-slt',placeholder=" Hasta"  ) }}
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12 p-0">
                            {{ show_field(formFilter.search, class=' btn btn-light wrn-btn' ) }}
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>

<div class="container-fluid">
    <div class="row">
        {% for event in listevent %}
            {{ show_event(event) }}
        {% endfor %}
    </div>
</div>
{% endblock %}