{% from "macro.html" import show_event %}
{% from "form_macros.html" import show_field ,show_radio_field, show_submit_field, show_field_filter %}
{% extends "index.html" %}
{% block contenido %}
<!-------------------------------------------------------FILTRO---------------------------------------->
    <div class="container">
        <form method="POST" action="{{ url_for('index') }}" enctype="multipart/form-data">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-2  col-md-3 col-sm-12 p-0">
                            {{ show_field_filter(formFilter.nameEvent, class='form-control search-slt',placeholder=" Nombre de evento" ) }}
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-12 p-0">
                            {{ show_field_filter(formFilter.place, class='form-control search-slt',placeholder=" Ubicacion"  ) }}
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-12 p-0">
                            <div class="form-group">
                                {{ show_field_filter(formFilter.dateEventSince, class='form-control search-slt' ,placeholder=" Desde" ) }}
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-12 p-0">
                            <div class="form-group">
                                {{ show_field_filter(formFilter.dateEventUntil, class='form-control search-slt',placeholder=" Hasta"  ) }}
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-12 p-0">
                            <div class="form-group">
                                {{ show_field_filter(formFilter.options, class='form-control search-slt', placeholder="Tipo de Evento") }}
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12 p-0">
                            {{ show_field_filter(formFilter.search, class=' btn btn-light wrn-btn' ) }}
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
    <!---------------------------------------------------CONTENIDO----------------------------------------------------------------->
    <div class="container-fluid">
        <div class="row">
            {% for event in listevent.items %}
                {{ show_event(event) }}
            {% endfor %}
        </div>
    </div>
    <!---------------------------------------------------PAGINACION----------------------------------------------------------------->
    <div class="row">
        <div class="col-md-12">
            <div class="center">
                <div class="pagination">
                    {% if listevent.hast_prev %}
                        <a href="{{ url_for('index', pag=listevent.prev_num) }}">Anterior</a>
                    {% endif %}
                    {% for i in range(1,(listevent.pages + 1)) %}
                        {% if listevent.page == i %}
                            <a class="active" href="#">{{ i }}</a>
                        {% else %}
                            <a href="{{ url_for('index', pag=i) }}">{{ i }}</a>
                        {% endif %}
                    {% endfor %}
                    {% if listevent.has_next %}
                        <a href="{{ url_for('index', pag=listevent.next_num) }}">Siguiente</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}