{% extends "index.html" %}
{% from "form_macros.html" import show_field ,show_radio_field, show_submit_field %}
{% block contenido %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 offset-2 float-md-center">
                <div class="jumbotron">
                    <form method="POST" action="{{ url_for('update_event', eventId=eventUpdate.eventoId) }}"
                          enctype="multipart/form-data">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                {{ show_field(formCreate.nameEvent, class='form-control' ) }}
                                <div class="form-group">
                                    <img class="img_update"
                                         src="{{ url_for('static', filename='Imagenes/'+ formCreate.image.data) }} "
                                         alt="">
                                </div>
                                {{ show_field(formCreate.description, class='form-control' ) }}
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 offset-2 float-md-center">
                                        {{ show_field(formCreate.dateEvent, class='form-control' ) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 offset-2 float-md-center">
                                        {{ show_field(formCreate.place, class='form-control' ) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-6 offset-2 float-md-center">
                                        {{ show_field(formCreate.options, class="form-control",placeholder='Tipo de evento') }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-6 offset-2 float-md-center">
                                        {{ show_field(formCreate.timeEvent, class='form-control', placeholder='Ingrese hora del evento' ) }}
                                    </div>
                                </div>
                                {{ show_submit_field(formCreate.update, class='btn btn-success create-event') }}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}