<!-- Macro que se encarga de mostrar los errores de validación -->
{% macro show_error(campo) %}
	{% if campo.errors %} <!--Si existen errores -->
	  <div class="alert alert-danger" role="alert">
	  {% for error in campo.errors %} <!--Recorrer errrores-->
	   	{{ error }}<br><!--Mostrar error -->
	  {% endfor %}
	  </div>
	{% endif %}
{% endmacro %}

<!-- Macro que se encarga de mostrar los campos del formulario -->
{% macro show_field(campo) %}
    {{ campo.label }}
	{{ campo(**kwargs)|safe }} <!-- Mostrar campo -->
	{{show_error(campo)}}  <!-- Llamar a macro que muestra el error -->
{% endmacro %}

<!-- Macro que se encarga de mostrar los campos tipo radio del formulario -->
{% macro show_radio_field(campo) %}
	{{ campo.label }} <!-- Mostrar etiqueta -->
	<br/>
	{% for subfield in campo %} <!--Recorrer cada una de las opciones -->
			{{ subfield }}  <!-- Mostrar opción -->
	  		{{ subfield.label }} <!-- Mostrar etiqueta -->
	{% endfor %}
	{{show_error(campo)}} <!-- Llamar a macro que muestra el error -->
{% endmacro %}


<!-- Macro que se encarga de mostrar los campos tipo submit formulario -->
{% macro show_submit_field(campo) %}
	{{ campo(**kwargs)|safe }} <!-- Mostrar campo -->
{% endmacro %}
