{% extends "index.html" %}
{% from "form_macros.html" import show_field ,show_radio_field, show_submit_field %}
{% block contenido %}
    <body background="{{ url_for('static', filename = 'Imagenes/background.jpg') }}">
    <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-6">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="jumbotron" id="jumbo-login">
                <form method="POST" action="{{ url_for('login') }}" enctype="multipart/form-data">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <h1 class="title-login">Iniciar Sesion</h1>
                    <hr />
                    <div class="form-row">
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-8 offset-2 float-md-center">
                            {{ show_field(formLogin.emailLogin, class='form-control email-login',placeholder="example@gmail.com") }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class=" col-lg-5 col-md-5 col-sm-5 col-xs-5 offset-2 float-md-center">
                            {{ show_field(formLogin.passwordLogin, class='form-control password-login') }}
                        </div>
                    </div>
                    <hr />
                    <a href="">Olvidaste la contraseña?</a>
                    {{ show_submit_field(formLogin.submitLogin , class='btn btn-login') }}
                </form>
            </div>

        </div>
{% endblock %}